<div class="request__main">
    <div class="request-right fade-in">
        <form class="request custom-text-color" [formGroup]="aFormGroup">
            <h1 class="request__title">Crear Solicitud</h1>

            <div class="request__pair">
                <input formControlName="offer" class="request__input-text" type="text" id="offer" name="request"
                    placeholder="Oferta" />
                <label class="request__label" for="offer">Oferta</label>
                <div class="warning-validator" *ngIf="
              fgv.offer.errors && (fgv.offer.dirty || fgv.offer.touched)
            ">
                    <strong *ngIf="fgv.offer.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>
            <div class="request__pair">
                <input formControlName="clientDoc" class="request__input-text" type="text" id="clientDoc" name="request"
                    placeholder="Documento del cliente" />
                <label class="request__label" for="clientDoc">Documento del cliente</label>
                <div class="warning-validator" *ngIf="
              fgv.clientDoc.errors && (fgv.clientDoc.dirty || fgv.clientDoc.touched)
            ">
                    <strong *ngIf="fgv.clientDoc.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>

            <div class="request__pair">
                <input formControlName="propertyCode" class="request__input-text" type="text" id="propertyCode"
                    name="request" placeholder="Código de la propiedad" />
                <label class="request__label" for="propertyCode">Código de la propiedad</label>
                <div class="warning-validator" *ngIf="
              fgv.propertyCode.errors && (fgv.propertyCode.dirty || fgv.propertyCode.touched)
            ">
                    <strong *ngIf="fgv.propertyCode.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>

           
            <div class="request__pair">
                <input formControlName="feeNumber" class="request__input-text" type="number" id="feeNumber"
                    name="request" placeholder="Número de cuotas" />
                <label class="request__label" for="feeNumber">Número de cuotas</label>
                <div class="warning-validator" *ngIf="
              fgv.feeNumber.errors && (fgv.feeNumber.dirty || fgv.feeNumber.touched)
            ">
                    <strong *ngIf="fgv.feeNumber.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>
            <div class="request__buttons">
                <input class="request__button cancel" type="button" value="Cancelar"
                    [routerLink]="['/request']" />
                <input class="request__button agree" type="button" value="Crear" (click)="createRequest()" />

            </div>
        </form>
    </div>
</div>