.resetpass__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resetpass__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resetpass__subtitle {
    width: 100%;
    margin-top: 45px;
    text-align: center;
    font-size: 2rem;
    margin: 16px  0;
  }
  .resetpass-left {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/project-p3/image/upload/v1619149015/inmobi/images/pexels-dom-j-303059_2_1_ozpqhz.png");
    background-size: cover;
    background-position: center;
    border-radius: 0 0 50px 0;
  }
  
  .resetpass-left__logo {
    height: 50px;
    margin-top: 120px;
  }
  
  .resetpass-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .resetpass {
    width: 90%;
    min-width: 320px;
    max-width: 450px;
    position: relative;
    bottom: 180px;
    padding: 16px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
  }
  
  .resetpass__title {
    margin: 16px 0 0;
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
    color: var(--secondary-green);
  }
  
  .resetpass__pair {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
  }
  
  .resetpass__input-text {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 0.25px solid var(--black-text);
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.6rem;
    line-height: 19px;
    color: var(--black-text);
  }
  
  .resetpass__label {
    order: -1;
    font-size: 1.4rem;
    color: var(--black-text);
    margin-bottom: 5px;
  }
  
  .resetpass__input-text:focus ~ .resetpass__label {
    font-weight: 700;
  }
  
  .resetpass__input-text:focus {
    outline-color: var(--black-text);
  }
  
  .warning-validator {
    margin-top: 4px;
    font-size: 1.2rem;
    color: var(--cancel-red);
  }
  
  .resetpass__captcha {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .resetpass__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    text-align: center;
  }
  
  .resetpass__button {
    cursor: pointer;
    width: 49%;
    height: 45px;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--secondary-green);
    opacity: 1;
    color: #fff;
  }
  
  .forgot-pass {
    display: block;
    margin-top: 25px;
    cursor: pointer;
    color: #828282;
    font-size: 1.6rem;
  }
  
  .forgot-pass:hover,
  .resetpass__button:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 1150px) {
    .resetpass__main {
      height: calc(100vh - 60px);
      min-height: 550px;
      flex-direction: row;
    }
  
    .resetpass-left {
      width: 50%;
      height: 100%;
      align-items: center;
      border-radius: 0;
    }
  
    .resetpass-left__logo {
      margin-top: 0;
    }
  
    .resetpass-right {
      width: 50%;
      align-items: center;
    }
  
    .resetpass {
      width: 420px;
      bottom: 0;
      opacity: 1;
    }
  }
  