<div class="resetpass__main">
    <div class="resetpass-left resetpass__img fade-in-2">
        <img class="resetpass-left__logo"
          src="https://res.cloudinary.com/project-p3/image/upload/v1618872693/inmobi-logo-navbar_zpo2rq.svg" alt="" />
      </div>
    <div class="resetpass-right fade-in">
        <form class="resetpass custom-text-color" [formGroup]="aFormGroup">
            <h1 class="resetpass__title">Olvidaste tu contraseña</h1>
            <h2 class="resetpass__subtitle">Enviaremos una nueva contraseña a tu correo electrónico registrado! </h2>
            <div class="resetpass__pair">
                <input formControlName="email" class="resetpass__input-text" type="email" id="email" name="resetpass"
                    placeholder="Correo electrónico" />
                <label class="resetpass__label" for="email">Correo electronico</label>
                <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                    <strong *ngIf="fgv.email.errors.required">
                        Este campo es requerido
                    </strong>
                    <strong *ngIf="fgv.email.errors.email">
                        Debe ingresar un email correcto
                    </strong>
                </div>
            </div>
            <div class="resetpass__buttons">
                <input class="resetpass__button" type="button" (click)="resetPassword()" value="Enviar correo" />


            </div>
        </form>
    </div>
</div>