<div class="property__main">
    <div class="property-right fade-in">
        <form class="property custom-text-color" [formGroup]="aFormGroup">
            <h1 class="property__title">Crear inmueble</h1>


            <div class="property__pair">
                <input formControlName="name" class="property__input-text" type="name" id="name" name="property"
                    placeholder="Nombre" />
                <label class="property__label" for="name">Nombre</label>
                <div class="warning-validator" *ngIf="
              fgv.name.errors && (fgv.name.dirty || fgv.name.touched)
            ">
                    <strong *ngIf="fgv.name.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>
            <div class="property__pair">
                <input formControlName="description" class="property__input-text" type="description" id="description" name="property"
                    placeholder="Descripción" />
                <label class="property__label" for="description">Descripción</label>
                <div class="warning-validator" *ngIf="
              fgv.description.errors && (fgv.description.dirty || fgv.description.touched)
            ">
                    <strong *ngIf="fgv.description.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>
            <div class="property__pair">
                <input formControlName="value" class="property__input-text" type="value" id="value" name="value"
                    placeholder="Valor" />
                <label class="property__label" for="value">Valor</label>
                <div class="warning-validator" *ngIf="
              fgv.value.errors && (fgv.value.dirty || fgv.value.touched)
            ">
                    <strong *ngIf="fgv.value.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>
            <div class="property__pair">
                <label class="property__label" for="country">País</label>
                <select  class="country__properties-select" name="properties" id="countryProperty" (change)="getCitiesByCountryId($event)" >
                    <option disabled selected>Seleccione país</option>
                    <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                    
                </select>
            </div>
            <div class="property__pair">
                <label class="property__label" for="city">Ciudad</label>
                <select  class="country__properties-select" name="properties" id="countryProperty" (change)="getProjectsByCityId($event)">
                    <option disabled selected>Seleccione ciudad</option>
                    <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
                    
                </select>
            </div>
            <div class="property__pair">
                <label class="property__label" for="city">Proyectos</label>
                <select  class="country__properties-select" name="properties" id="countryBlock" (change)="getBlocksByProjectId($event)">
                    <option  selected>Seleccione proyecto</option>
                    <option *ngFor="let project of projects" value="{{project.id}}">{{project.name}}</option>
                    
                </select>
            </div>
            <div class="property__pair">
                <label class="property__label" for="city">Bloque</label>
                <select formControlName="blockId" class="country__properties-select" name="propertyId" id="countryBlock" >
                    <option disabled selected>Seleccione bloque</option>
                    <option *ngFor="let block of blocks" value="{{block.id}}">{{block.name}}</option>
                    
                </select>
            </div>

            <div class="property__buttons">
                <input class="property__button cancel" type="button" value="Cancelar"
                    [routerLink]="['/project/']" />
                <input class="property__button agree" (click)="createProperty()" type="button" value="Crear" />

            </div>
        </form>
    </div>
</div>