<div class="login__main">
  <div class="login-left login__img fade-in-2">
    <img
      class="login-left__logo"
      src="https://res.cloudinary.com/project-p3/image/upload/v1618872693/inmobi-logo-navbar_zpo2rq.svg"
      alt=""
    />
  </div>

  <div class="login-right fade-in">
    <form class="login custom-text-color" [formGroup]="aFormGroup">
      <h1 class="login__title">Cambio de contraseña</h1>

      <div class="login__pair">
        <input
          formControlName="currentPassword"
          class="login__input-text"
          type="password"
          id="currentPassword"
          name="currentPassword"
          placeholder="Contraseña actual"
        />
        <label class="login__label" for="currentPassword"
          >Contraseña actual</label
        >
        <div
          class="warning-validator"
          *ngIf="
            fgv.currentPassword.errors &&
            (fgv.currentPassword.dirty || fgv.currentPassword.touched)
          "
        >
          <strong *ngIf="fgv.currentPassword.errors.required">
            Este campo es requerido
          </strong>
        </div>
      </div>

      <div class="login__pair">
        <input
          formControlName="newPassword"
          class="login__input-text"
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="Nueva contraseña"
        />
        <label class="login__label" for="newPassword">Nueva contraseña</label>
        <div
          class="warning-validator"
          *ngIf="
            fgv.newPassword.errors &&
            (fgv.newPassword.dirty || fgv.newPassword.touched)
          "
        >
          <strong *ngIf="fgv.newPassword.errors.required">
            Este campo es requerido
          </strong>
        </div>
      </div>

      <div class="login__pair">
        <input
          formControlName="newPasswordConfirm"
          class="login__input-text"
          type="password"
          id="newPasswordConfirm"
          name="newPasswordConfirm"
          placeholder="Confirmar nueva Contraseña"
        />
        <label class="login__label" for="newPasswordConfirm"
          >Confirmar nueva contraseña</label
        >
        <div
          class="warning-validator"
          *ngIf="
            fgv.newPasswordConfirm.errors &&
            (fgv.newPasswordConfirm.dirty || fgv.newPasswordConfirm.touched)
          "
        >
          <strong *ngIf="fgv.newPasswordConfirm.errors.required">
            Este campo es requerido
          </strong>
        </div>
      </div>

      <div class="login__buttons">
        <input
          class="login__button"
          type="button"
          (click)="changePassword()"
          value="Cambiar contraseña"
        />
        <a routerLink="/security/reset-password" class="forgot-pass"
          >¿Olvidaste tu contraseña?</a
        >
      </div>
    </form>
  </div>
</div>
