<div *ngIf="requests.length" class="payments-main__title">
  <h1 class="payments__title">Zona vendedor</h1>
  <h2 class="payments__subtitle">Solicitudes</h2>

  <app-chart
    class="chart-main"
    style="max-width: 500px"
    [labels]="chartData.labels"
    [data]="chartData.data"
    [setColors]="chartData.colors"
  ></app-chart>

  <div class="request__buttons">
    <input
      class="request__button create"
      type="button"
      value="Crear"
      routerLink="/request/create"
    />
  </div>
</div>
<div class="requests custom-text-color">
  <app-list-request
    *ngFor="let request of requests"
    [request]="request"
  ></app-list-request>
</div>
