<div
  class="fade-in"
  style="
    width: 100%;
    height: 500px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
  "
>
  <img
    src="https://res.cloudinary.com/project-p3/image/upload/v1627265932/inmobi/assets/pexels-palo-cech-286744-min_iiwn6v.jpg"
    alt="cover"
    style="object-fit: cover; width: 100%; height: 100%; opacity: 0.8"
  />
  <h1
    style="
      color: #fff;
      font-weight: 300;
      font-size: 4.8rem;
      position: absolute;
      z-index: 2;
      max-width: 600px;
      text-align: center;
    "
  >
    Tu inmobiliaria de confianza ahora en la web
  </h1>
</div>
<app-list-home-project></app-list-home-project>
