<h2 class="project__subtitle">Propiedades disponibles en este bloque</h2>

<div *ngIf="properties.length" class="project__properties">
  <div
    *ngFor="let property of properties"
    class="project__property-card box-shadow fade-in-0"
  >
    <h4 class="property-card__title">Propiedad {{ property.number }}</h4>
    <hr class="separator" />
    <p class="property-card__description">{{ property.description }}</p>
    <p class="property-card__value">$ {{ property.value | number }}</p>
    <a
      *ngIf="property.status === 'DISPONIBLE'"
      class="property-card__btn"
      [routerLink]="['/project/public-request', property.id]"
      >Ver mas</a
    >
    <p
      *ngIf="property.status === 'VENDIDA'"
      class="property-card__value"
      style="color: var(--cancel-red)"
    >
      VENDIDA
    </p>
  </div>
</div>
