<footer style="margin-top: 30px">
  <img
    class="footer__logo"
    src="https://res.cloudinary.com/project-p3/image/upload/v1618872693/inmobi-logo-navbar_zpo2rq.svg"
    alt=""
  />

  <div class="footer__section">
    <p class="footer__section-title">Empresa</p>
    <p class="footer__section-text">Marca Registrada</p>
    <p class="footer__section-text">Todos los derechos reservados</p>
    <p class="footer__section-text">Abril del 2015</p>
  </div>
  <div class="footer__section">
    <p class="footer__section-title">Contacto</p>
    <p class="footer__section-text">inmobi.contacto@correo.com</p>
    <p class="footer__section-text">Calle 40 - 05 San Francisco</p>
    <p class="footer__section-text">EE.UU</p>
  </div>
  <div class="footer__section">
    <p class="footer__section-title">Clientes</p>
    <p class="footer__section-text">Pagina Principal</p>
    <p class="footer__section-text">Informacion</p>
    <p class="footer__section-text">Envio de pagos</p>
  </div>
</footer>
