<div class="city__main">
    <div class="city-right fade-in">
        <form class="city custom-text-color" [formGroup]="aFormGroup">
            <h1 class="city__title">Crear ciudad</h1>


            <div class="city__pair">
                <input formControlName="name" class="city__input-text" type="name" id="name" name="city"
                    placeholder="Nombre" />
                <label class="city__label" for="name">Nombre</label>
                <div class="warning-validator" *ngIf="
              fgv.name.errors && (fgv.name.dirty || fgv.name.touched)
            ">
                    <strong *ngIf="fgv.name.errors.required">
                        Este campo es requerido
                    </strong>
                </div>
            </div>
            <div class="city__pair">
                <label class="city__label" for="name">País</label>
                <select formControlName="countryId" class="country__blocks-select" name="blocks" id="countryBlock" >
                    <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>

                </select>
            </div>

            <div class="city__buttons">
                <input class="city__button cancel" type="button" value="Cancelar"
                    [routerLink]="['/parameters/city/']" />
                <input class="city__button agree" (click)="createCity()" type="button" value="Crear" />

            </div>
        </form>
    </div>
</div>