:root {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
  --black-text: #414141;
  --primary-red: #b00020;
  --secondary-green: #00b090;
  --cancel-red: #db0028;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.custom-text-color {
  color: var(--black-text);
}

.box-shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

main {
  width: 100%;
  min-height: calc(100vh - 60px);
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: FadeIn;
  animation-duration: 1s;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
}
