<div class="clients-main__title">
  <h1 class="clients__title">Zona Vendedor</h1>
  <h2 class="clients__subtitle">Clientes</h2>
  <a
    href=""
    [routerLink]="['/clients/creation']"
    class="client-card-create--btn"
    >Crear</a
  >
  <input
    type="text"
    class="client__input-text"
    name="filterPost"
    placeholder="Buscar..."
    [(ngModel)]="filterPost"
  />
</div>
<div class="clients">
  <div
    *ngFor="
      let client of clients | paginate: { itemsPerPage: 6, currentPage: page }
    "
    [client]="client"
    class="client-card--main fade-in"
  >
    <div class="client-card--body">
      <h3 class="client-card--title">{{ client.document }}</h3>
      <h2 class="client-card--subtitle">
        {{ client.name }}
      </h2>
      <h2 class="client-card--subtitle">
        {{ client.email }}
      </h2>
      <h2 class="client-card--subtitle">
        {{ client.phone }}
      </h2>

      <a
        href=""
        [routerLink]="['/clients/view', client.id]"
        class="client-card--btn"
        >Ver</a
      >
    </div>
  </div>
</div>
<pagination-controls
  class="my-pagination"
  (pageChange)="page = $event"
  responsive="true"
  maxSize="9"
  previousLabel="Antes"
  nextLabel="Siguiente"
></pagination-controls>
